.color-normal {
    background-color: #C2C29C;
}

.color-fighting {
    background-color: #E08A89;
}

.color-flying {
    background-color: #CABDFE;
}

.color-poison {
    background-color: #D184D2;
}

.color-ground {
    background-color: #F0D9A1;
}

.color-rock {
    background-color: #D4C68A;
}

.color-bug {
    background-color: #C7D978;
}

.color-ghost {
    background-color: #A595B5;
}

.color-steel {
    background-color: #D3D3E5;
}

.color-fire {
    background-color: #F9A066;
}

.color-water {
    background-color: #97B9F9;
}

.color-grass {
    background-color: #A7D992;
}

.color-electric {
    background-color: #FBE58F;
}

.color-psychic {
    background-color: #FAB1C8;
}

.color-ice {
    background-color: #C6EDED;
}

.color-dragon {
    background-color: #A484FA;
}

.color-dark {
    background-color: #A38A79;
}

.color-fairy {
    background-color: #E8A6C3;
}

.color-stellar {
    background-color: #FFF4A8;
}

.color-unknown {
    background-color: #C0C0C0;
}
